In [2]:
import pandas as pd
d = pd.read_csv("train.csv")
d['duration']

0        4621
1        4715
2         171
3         359
4        3178
         ...
22495    4031
22496    3185
22497    2363
22498     576
22499     549
Name: duration, Length: 22500, dtype: int64

In [3]:
d['duration'].max()

5149

In [4]:
5149/3600

1.4302777777777778

In [5]:
d['duration'].min()

0

In [6]:
def DurationCategory(x):
    x = x//60
    if x<15:
        return 0
    elif x<30:
        return 1
    elif x<45:
        return 2
    elif x<60:
        return 3
    return 4
d['duration_n'] = d['duration'].apply(lambda x:DurationCategory(x))
d['duration_n']

0        4
1        4
2        0
3        0
4        3
        ..
22495    4
22496    3
22497    2
22498    0
22499    0
Name: duration_n, Length: 22500, dtype: int64

In [7]:
subscribe2int = {"no":0,"yes":1}
d['subscribe'] = d['subscribe'].apply(lambda x:subscribe2int.get(x,x))

In [8]:
d.pivot_table(values = )

In [9]:
d['subscribe'].mean()

0.1312

In [11]:
import numpy as np
pd.pivot_table(d,index = ['duration_n'],values = ['subscribe'],aggfunc = np.mean)

            subscribe
duration_n
0            0.118851
1            0.219598
2            0.141191
3            0.126380
4            0.130365

In [12]:
def DurationCategory(x):
    x = x//60
    if x<10:
        return 0
    elif x<20:
        return 1
    elif x<30:
        return 2
    elif x<40:
        return 3
    elif x<50:
        return 4
    elif x<60:
        return 5
    else:
        return 6
d['duration_n'] = d['duration'].apply(lambda x:DurationCategory(x))
import numpy as np
pd.pivot_table(d,index = ['duration_n'],values = ['subscribe'],aggfunc = np.mean)

            subscribe
duration_n
0            0.101628
1            0.289938
2            0.180000
3            0.146140
4            0.124654
5            0.130515
6            0.130365

In [13]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold
import lightgbm as lgb
from sklearn.metrics import accuracy_score
import numpy as np
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
d = pd.concat([train,test])

cat_columns = d.select_dtypes(include='O').columns
cat_columns = list(cat_columns)
cat_columns.remove("subscribe")
for c in cat_columns:
    le = LabelEncoder()
    d[c] = le.fit_transform(d[c])
subscribe2int = {"no":0,"yes":1}
d['subscribe'] = d['subscribe'].apply(lambda x:subscribe2int.get(x,x))

train = d[~d['subscribe'].isnull()]
test = d[d['subscribe'].isnull()]
features = list(train.columns)
features.remove("id")
features.remove("subscribe")

In [14]:
for f in features:
    print(f,train[f].mean(),test[f].mean())

age 40.40751111111111 40.3948
job 3.7971555555555554 3.8029333333333333
marital 1.1922666666666666 1.1953333333333334
education 3.732666666666667 3.7505333333333333
default 0.24968888888888888 0.25266666666666665
housing 1.0676444444444444 1.0749333333333333
loan 0.3645777777777778 0.35013333333333335
contact 0.36973333333333336 0.374
month 4.236888888888889 4.2325333333333335
day_of_week 2.0081333333333333 2.0246666666666666
duration 1146.3037333333334 1141.4794666666667
campaign 3.3648 3.4398666666666666
pdays 773.9919555555556 778.8541333333334
previous 1.3164444444444445 1.3078666666666667
poutcome 0.9554666666666667 0.9582666666666667
emp_var_rate 0.07852888888890171 0.0928133333333324
cons_price_index 93.5487853333334 93.49189599999954
cons_conf_index -39.87718044444453 -39.926134666666485
lending_rate3m 3.3024902222222217 3.2990453333333343
nr_employed 5137.211285333288 5140.09470133334